
NET "ram_addr1[17]" LOC = H17;
NET "ram_addr1[16]" LOC = H16;
NET "ram_addr1[15]" LOC = H15;
NET "ram_addr1[14]" LOC = H14;
NET "ram_addr1[13]" LOC = G16;
NET "ram_addr1[12]" LOC = G15;
NET "ram_addr1[11]" LOC = G14;
NET "ram_addr1[10]" LOC = G13;
NET "ram_addr1[9]" LOC = F18;
NET "ram_addr1[8]" LOC = F17;
NET "ram_addr1[7]" LOC = F15;
NET "ram_addr1[6]" LOC = F14;
NET "ram_addr1[5]" LOC = E16;
NET "ram_addr1[4]" LOC = E15;
NET "ram_addr1[3]" LOC = D17;
NET "ram_addr1[2]" LOC = D16;
NET "ram_addr1[1]" LOC = C18;
NET "ram_addr1[0]" LOC = C17;

NET "ram_data1[15]" LOC = M14;
NET "ram_data1[14]" LOC = M13;
NET "ram_data1[13]" LOC = L18;
NET "ram_data1[12]" LOC = L17;
NET "ram_data1[11]" LOC = L16;
NET "ram_data1[10]" LOC = L15;
NET "ram_data1[9]" LOC = K15;
NET "ram_data1[8]" LOC = K14;
NET "ram_data1[7]" LOC = K13;
NET "ram_data1[6]" LOC = K12;
NET "ram_data1[5]" LOC = J17;
NET "ram_data1[4]" LOC = J16;
NET "ram_data1[3]" LOC = J15;
NET "ram_data1[2]" LOC = J14;
NET "ram_data1[1]" LOC = J13;
NET "ram_data1[0]" LOC = J12;

NET "ram1EN" LOC = M15;
NET "ram1OE" LOC = M16;
NET "ram1WE" LOC = M18;

NET "rdn" LOC = C14;
NET "wrn" LOC = U5;

NET "ram_data_ready_i" LOC = A16; # 
NET "ram_tbre_i" LOC = D14;
NET "ram_tsre_i" LOC = N9;
#ram 2
NET "en" LOC = N10;
NET "oe" LOC = R9;
NET "we" LOC = M9;


NET "addr[17]" LOC = U15;
NET "addr[16]" LOC = U16;
NET "addr[15]" LOC = V9;
NET "addr[14]" LOC = V12;
NET "addr[13]" LOC = V13;
NET "addr[12]" LOC = V15;
NET "addr[11]" LOC = U18;
NET "addr[10]" LOC = T18;
NET "addr[9]" LOC = T17;
NET "addr[8]" LOC = R18;
NET "addr[7]" LOC = R16;
NET "addr[6]" LOC = R15;
NET "addr[5]" LOC = P18;
NET "addr[4]" LOC = P17;
NET "addr[3]" LOC = P16;
NET "addr[2]" LOC = N18;
NET "addr[1]" LOC = N15;
NET "addr[0]" LOC = N14;
NET "data[15]" LOC = N11;
NET "data[14]" LOC = N12;
NET "data[13]" LOC = P10;
NET "data[12]" LOC = P11;
NET "data[11]" LOC = P12;
NET "data[10]" LOC = P13;
NET "data[9]" LOC = R10;
NET "data[8]" LOC = R11;
NET "data[7]" LOC = R12;
NET "data[6]" LOC = R14;
NET "data[5]" LOC = R13;
NET "data[4]" LOC = T12;
NET "data[3]" LOC = T14;
NET "data[2]" LOC = T15;
NET "data[1]" LOC = T16;
NET "data[0]" LOC = U13;

# led
NET "ram_data_ready_o" LOC = A14; #z leftmost
NET "ram_tbre_o" LOC = E13;
NET "ram_tsre_o" LOC = D13;

NET "m_data_o[2]" LOC = A11; #right most
NET "m_data_o[1]" LOC = E10;
NET "m_data_o[0]" LOC = D10;

# switch
NET "m_addr[2]" LOC = R4; #765 210
NET "m_addr[1]" LOC = U1;
NET "m_addr[0]" LOC = V2;
NET "m_data[2]" LOC = U8;
NET "m_data[1]" LOC = R7;
NET "m_data[0]" LOC = T7;
NET "m_ce" LOC = N1; # 10 9 8
NET "m_re" LOC = N2;
NET "m_we" LOC = R1;

# PlanAhead Generated physical constraints 

NET "clk" LOC = U9;
NET "rst" LOC = U10;
