
# PlanAhead Generated physical constraints 

NET "addr[17]" LOC = U15;
NET "addr[16]" LOC = U16;
NET "addr[15]" LOC = V9;
NET "addr[14]" LOC = V12;
NET "addr[13]" LOC = V13;
NET "addr[12]" LOC = V15;
NET "addr[11]" LOC = U18;
NET "addr[10]" LOC = T18;
NET "addr[9]" LOC = T17;
NET "addr[8]" LOC = R18;
NET "addr[7]" LOC = R16;
NET "addr[6]" LOC = R15;
NET "addr[5]" LOC = P18;
NET "addr[4]" LOC = P17;
NET "addr[3]" LOC = P6;
NET "addr[2]" LOC = N18;
NET "addr[1]" LOC = N15;
NET "addr[0]" LOC = N14;
NET "data[15]" LOC = N11;
NET "data[14]" LOC = N12;
NET "data[13]" LOC = P10;
NET "data[12]" LOC = P11;
NET "data[11]" LOC = P12;
NET "data[10]" LOC = P13;
NET "data[9]" LOC = R10;
NET "data[8]" LOC = R11;
NET "data[7]" LOC = R12;
NET "data[6]" LOC = R14;
NET "data[5]" LOC = R13;
NET "data[4]" LOC = T12;
NET "data[3]" LOC = T14;
NET "data[2]" LOC = T15;
NET "data[1]" LOC = T16;
NET "data[0]" LOC = U13;
NET "en" LOC = N10;
NET "oe" LOC = R9;
NET "we" LOC = M9;
NET "m_ce" LOC = T7;
NET "m_re" LOC = R7;
NET "m_we" LOC = U8;
NET "m_addr[2]" LOC = V2;
NET "m_addr[1]" LOC = V3;
NET "m_addr[0]" LOC = V4;
NET "m_data[2]" LOC = R1;
NET "m_data[1]" LOC = R4;
NET "m_data[0]" LOC = U1;
NET "m_data_o[2]" LOC = A11;
NET "m_data_o[1]" LOC = E10;
NET "m_data_o[0]" LOC = D10;
NET "pc[2]" LOC = M1;
NET "pc[1]" LOC = N1;
NET "pc[0]" LOC = N2;
NET "ins[2]" LOC = F12;
NET "ins[1]" LOC = E12;
NET "ins[0]" LOC = A12;
